* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-widget {
    background: linear-gradient(135deg, #67E8F9, #69F0AE);
    border-radius: 20px;
    padding: 50px;
    width: 550px; 
    height: 640px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    color: white;
}

.search-bar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.search-bar input {
    width: 85%;
    padding: 15px;
    border: none;
    border-radius: 19px;
    outline: none;
    font-size: 19px; 
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
   
}

.search-bar button img {
    width: 55px; 
    height: 55px;
}
.weather-info {
    text-align: center;
}

.weather-info .icon {
    margin-top: 20px;
    margin-bottom: 15px;
}
.weather-info .icon img {
    width: 200px; 
    height: 120px;
}

.weather-info .temperature {
    font-size: 90px;
    font-weight: bold;
}

.weather-info .city {
    font-size: 38px; 
    margin-bottom: 25px;
}

.additional-info {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.additional-info div {
    text-align: center;
}

.additional-info img {
    width: 60px;
    margin-bottom: 5px;
}

.additional-info p {
    font-size: 19px;
}
